{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% for listing in active_listings %}
        <a class="listing" href="{% url "listing" listing.id %}">
            <div class="listing">

                <h3 class="listing-title">{{ listing.title }}</h3>
                <p>{{ listing.description }}</p>

                {% if listing.max_bid %}
                    <h3>₱{{ listing.max_bid }}</h3>
                {% else %}
                    <h3>₱{{ listing.starting_bid }} <span class="st-bid-txt">(Min. Starting Bid)<span></h3>
                {% endif %}

                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}">
                {% endif %}

                <p>Auctioned by
                    {% if request.user == listing.owner %}
                        <span class="username-text">{{ listing.owner }} (You)</span>
                    {% else %}
                        <span class="username-text">{{ listing.owner }}</span>
                    {% endif %}
                <p>
        
            </div>
        </a>
    {% empty %}
        <div>There are currently no active listings.</div>
    {% endfor %}

{% endblock %}