{% extends "school/course_list_base.html" %}

{% block page_header %}
    <h1 class="page-hdr">
        Search results: Courses with 
        <span class="accent">
            '{{q}}'
        </span>
    </h1>
    <hr>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?q={{q}}&page=1">&laquo; first</a>
                    <a href="?q={{q}}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?q={{q}}&page={{ page_obj.next_page_number }}">next</a>
                    <a href="?q={{q}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}